.login_body{
    background: #DEDEDE;;
}

.logincontainer{
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  width: 28%;
  background: #FFFFFF;
  border-radius: 20px;
  margin-top: 2%;
}

.loginfooter{
    text-align: center;
    margin-top: 8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.imagecontainer{
    text-align: center;
    padding: 20px 0 0 0;
}

img.logo{
    width: 80px;
    height:80px
}

.loginheader{
    text-align:center;
    padding:10px 0 10px 0;
}

span.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 10px;
    word-spacing: 0.6px;
    color: #000000;
}

span.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    color: #000000;
}

.logininput{
    text-align:center;
    padding:10px 0 10px 0;
}

input.form-control {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 20px;
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
}

button[type=submit]{
    background: #5FA048;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 20px;
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.loginversion{
    text-align:center;
    padding:10px 0 10px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    color: #CDCDCD;
}

.loginalert{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    /* box-sizing: border-box; */
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}